:root {
  --white: #fafafa;
  --grey: #e8f1f5;
  --primary-color: #005691;
  --primary-color-dark: #004a7c;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: #000;
  overflow-x: hidden;
  width: 100vw;
}

#presentation {
  padding-top: 140px;
}

header {
  background-color: var(--primary-color-dark);
  color: var(--white);
  padding: 20px 0;
  text-align: center;
}

li > i {
  font-size: 28px;
}

li > svg {
  height: 28px;
  width: auto;
}

section {
  padding: 40px 0;
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.section-slide-left {
  animation: slideInFromLeft 2s ease-out;
}
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.section-slide-right {
  animation: slideInFromRight 2s ease-out;
}

h2 {
  color: #343a40;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

.btn {
  background: var(--primary-color);
  color: var(--white);
}

.project-slide {
  padding: 20px;
  box-sizing: border-box;
}

.project-slide img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: var(--primary-color-dark);
  color: var(--white);
  padding: 32px 12px;
  text-align: center;
}

#presentation {
  font-family: 'Roboto Mono', monospace;
}

footer a {
  align-items: center;
  color: white;
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-bottom: 12px;
  text-decoration: none;
  transition: 0.25s color ease-in-out;
}

footer a:hover {
  color: pink;
  text-decoration: none;
}

footer a:hover svg {
  fill: pink;
}

footer a:last-child {
  margin-bottom: 0;
}

footer a svg {
  height: 16px;
  fill: white;
  transition: 0.25s fill ease-in-out;
  width: auto;
}

#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

#download-link {
  align-items: center;
  display: flex;
  gap: 12px;
}

#download-link svg {
  fill: white;
  height: 24px;
}

/* Animation pour les champs de formulaire */
.form-group input,
.form-group textarea {
  transition: border-color 0.3s ease;
}

.img-moi {
  border-radius: 15px;
  max-width: 250px;
  max-height: 90%;
}
#profil .container {
  background-color: var(--white);
  border-radius: 20px;
  padding-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.animated-list li {
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transform: translateY(-30px);
}

.animated-list li:nth-child(1) {
  transition-delay: 0.2s;
}
.animated-list li:nth-child(2) {
  transition-delay: 0.4s;
}
.animated-list li:nth-child(3) {
  transition-delay: 0.6s;
}
.animated-list li:nth-child(4) {
  transition-delay: 0.8s;
}
.animated-list li:nth-child(5) {
  transition-delay: 1s;
}
.animated-list li:nth-child(6) {
  transition-delay: 1.2s;
}
.animated-list li:nth-child(7) {
  transition-delay: 1.4s;
}
.animated-list li:nth-child(8) {
  transition-delay: 1.6s;
}
.animated-list li:nth-child(9) {
  transition-delay: 1.8s;
}
.animated-list li:nth-child(10) {
  transition-delay: 2s;
}

.animated-list li.active {
  opacity: 1;
  transform: translateY(0);
}

/* Animation pour le message de confirmation */
#confirmation {
  animation: fadeOut 4s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slick-prev::before,
.slick-next::before {
  color: dimgray;
}
@media (max-width: 768px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  #cont2 {
    width: 100%;
    height: 30vh;
    position: relative;
    overflow: hidden;
  }
  .ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}
